div#root {
    height: 100%;
    width: 100%;
    position: absolute;
}

.m-0{
    margin:5px !important;
}
.m-1{
    margin:10px !important;
}
.m-2{
    margin:15px !important;
}
.m-3{
    margin:20px !important;
}
.m-4{
    margin:25px !important;
}
.mr-0{
    margin-right: 5px !important;
}
.mr-1{
    margin-right: 10px !important;
}
.mr-2{
    margin-right: 15px !important;
}
.mr-3{
    margin-right: 20px !important;
}
.mr-4{
    margin-right: 25px !important;
}
.ml-0{
    margin-left: 5px !important;
}
.ml-1{
    margin-left: 10px !important;
}
.ml-2{
    margin-left: 15px !important;
}
.ml-3{
    margin-left: 20px !important;
}
.ml-4{
    margin-left: 25px !important;
}

.searchFiledDashboard{
    width: 40%;
    margin: 10px auto;
}