/*Commons start*/
:focus{
    outline-style:none !important;
    box-shadow:none !important;
    border-color:transparent !important;
}

div#root {
    height: 100%;
    width: 100%;
    position: absolute;
}
/*Commons End*/
/*Dashboard Start*/
.searchFiledDashboard{
    width: 100%;
    background: none;
}
.secondaryCommandBar .ms-CommandBar {
    background: none;
}
.secondaryCommandBarButton{
    background: none;
}
/*Dashboard End*/

/*Navigation* Start*/
.buttonActivated{
    border-left: 5px solid #fff;
    box-shadow: inset 18px 0px 22px -18px #00d280;
}
/*Navigation* End*/

.card{
    display: 'flex';
    background: #fff;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    transition: 0.25s ease-in-out;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.18);
}

.card:hover{
    -webkit-box-shadow: 0px 7px 10px -1px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 7px 10px -1px rgba(0,0,0,0.2);
box-shadow: 0px 7px 10px -1px rgba(0,0,0,0.2);
}

.card-head{
    display: block;
}

.card-body{
    display: block;
}